/* Estilos generales para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  text-align: center;
}

/* Estilos para el título principal */
h1 {
  color: #333;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Estilos para los subtítulos */
h2, h3 {
  color: #444;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilo para las listas */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para los párrafos */
p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
}

/* Estilos para los enlaces (si los hubiera) */
a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilo para el contenido de la página */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Espaciado y márgenes */
br {
  margin-bottom: 15px;
}
